body {
    background-color: lightblue;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.card {
    width: 800px;
    height: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 8px dimgray;
}

.card h1 {
    margin-top: 60px;
    color: gold;
    font-size: 50px;
}

.links {
    display: inline-block;
    justify-content: space-between;
    position: absolute;
    bottom: 60px;
}

#left {
    float: left;
    margin-right: 200px;
}

#right {
    float: right;
}

i {
    color: gold;
    font-size: 30px;
    vertical-align: middle;
}

a:link {
    color: gold;
}

a:visited {
    color: goldenrod;
}

a:hover {
    color: moccasin;
}
